n8n-workflows/01-call-scheduler.json
{
  "name": "Grit - Call Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "scheduler-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM call_scheduling_candidates WHERE call_already_scheduled = false",
        "options": {}
      },
      "id": "get-candidates",
      "name": "Get Call Candidates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-credentials",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-candidates",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-candidates",
      "name": "Has Candidates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter candidates by call preferences\nconst candidates = $input.all();\nconst now = new Date();\nconst filtered = [];\n\nfor (const candidate of candidates) {\n  const user = candidate.json;\n  \n  // Get user's timezone (default to UTC)\n  const timezone = user.timezone || 'UTC';\n  \n  // Get current time in user's timezone\n  const userTime = new Date(now.toLocaleString('en-US', { timeZone: timezone }));\n  const currentHour = userTime.getHours();\n  const dayOfWeek = userTime.toLocaleDateString('en-US', { weekday: 'long' }).toLowerCase();\n  \n  // Check call preferences\n  const callPrefs = user.call_preferences;\n  if (!callPrefs || !callPrefs[dayOfWeek]) continue;\n  \n  const dayPrefs = callPrefs[dayOfWeek];\n  if (!dayPrefs.enabled) continue;\n  \n  // Check if current hour is in available hours\n  const availableHours = dayPrefs.availableHours || [];\n  if (!availableHours.includes(currentHour)) continue;\n  \n  // Calculate next 15-minute slot\n  const minutes = userTime.getMinutes();\n  const nextSlot = new Date(userTime);\n  if (minutes < 15) nextSlot.setMinutes(15);\n  else if (minutes < 30) nextSlot.setMinutes(30);\n  else if (minutes < 45) nextSlot.setMinutes(45);\n  else {\n    nextSlot.setHours(nextSlot.getHours() + 1);\n    nextSlot.setMinutes(0);\n  }\n  nextSlot.setSeconds(0);\n  nextSlot.setMilliseconds(0);\n  \n  filtered.push({\n    json: {\n      user_id: user.user_id,\n      daily_activity_id: user.daily_activity_id,\n      phone_number: user.phone_number,\n      coach_slug: user.selected_coach_slug,\n      timezone: timezone,\n      scheduled_for: nextSlot.toISOString(),\n      activity_title: user.activity_title,\n      coach_name: user.coach_name\n    }\n  });\n}\n\nreturn filtered;"
      },
      "id": "filter-by-availability",
      "name": "Filter by Availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "scheduled_calls",
        "columns": "user_id,daily_activity_id,phone_number,coach_slug,timezone,scheduled_for,status,attempt_number,max_attempts",
        "options": {}
      },
      "id": "create-scheduled-calls",
      "name": "Create Scheduled Calls",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-credentials",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "content": "## Call Scheduler\n\nThis workflow runs every hour to:\n1. Find users with active plans and today's activities\n2. Check if they're available based on call preferences\n3. Create scheduled_calls records for the next available slot\n\nScheduled calls will be picked up by the Call Initiator workflow.",
        "height": 400,
        "width": 300
      },
      "id": "note-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 460]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Get Call Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Call Candidates": {
      "main": [
        [
          {
            "node": "Has Candidates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Candidates?": {
      "main": [
        [
          {
            "node": "Filter by Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Availability": {
      "main": [
        [
          {
            "node": "Create Scheduled Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-17T00:00:00.000Z",
  "versionId": "1"
}
